/* Apply smooth transitions */
* {
    transition: all 0.3s ease-in-out;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

/* Change header and footer in dark mode */
.dark-mode header,
.dark-mode footer {
    background-color: #222;
}

/* Change links color */
.dark-mode a {
    color: #bbb;
}

.dark-mode a:hover {
    color: white;
}
